<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1><%= member.name %>'s Profile Page</h1>
  <h3>Name: <%= member.name %></h3>
  <h3>Type: <%= member.type %></h3>
  <a href="/">Home</a>
  <a href="/<%= member._id %>/edit">Edit</a>
</body>
</html>